div.handleInputDiv {
    width: 300px;
    margin-left: 40%;
}

div.topButtons {
    margin-left: 35%;
}

table {
    margin-left: 35%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 80%;*/
}

td, th {
    border: 1px solid #dddddd;
    width:21px;
    text-align: left;
    padding: 2px;
  }

/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

#lessThen1500 {
    color: MediumSeaGreen;
}

#lessThen2000 {
    color: DodgerBlue;
}

#lessThen2500 {
    color: Orange;
}

#greaterThen2500 {
    color: Tomato;
}